.table-usuarios {
    padding-top: 150px;
    padding-bottom: 100px;
}

.search-field {
    width: 100%;
    margin: auto;
}

.th-p {
    font-size: 17px;
}

th {
    background-color: #d7d7d7 !important;
}

#izq {
    border-radius: 5px 0px 0px 0px !important;
}

#der {
    border-radius: 0px 5px 0px 0px !important;
}

.fila-turno {
    border: none;
    color: #171717;
    background-color: #d7d7d7;
}

.fail-search {
    background-color: #d7d7d7;
    width: 100% !important;
}

.div-paginator {
    background-color: #d7d7d7;
    border-radius: 0px 0px 5px 5px;
}


.detalle-turno {
    width: 100%;
    min-height: 600px;
    border-radius: 5px;
    background-color: #d7d7d7;
    display: flex;
}

.btn-accion {
    background-color: #bebebe;
    min-width: 110px;
    font-weight: 600 !important;
}
