
<div class="image-container">
    <img src="assets/img_home.jpg" alt="Descripción de la imagen" class="responsive-image">
    <div class="overlay">
      <div class="centered-text h1">CLINICA ONLINE</div>
      <div class="centered-text h2">MONSERRAT & ASOCIADOS</div>
    </div>
</div>
<div class="p-container">
  <h3>Somos especialistas en salud</h3>
  <p>La <strong>Clínica Online Monserrat & Asociados</strong> cuenta con seis consultorios, dos laboratorios físicos y una sala de espera general, ofreciendo atención integral en un espacio cómodo y moderno. Los laboratorios internos permiten realizar análisis rápidos y confiables, mientras que la sala de espera asegura una experiencia confortable para los pacientes y sus acompañantes. La clínica opera de <strong>lunes a viernes de 8:00hs a 19:00hs</strong>, y los <strong>sábados de 8:00hs a 14:00hs</strong>, adaptándose a quienes necesitan atención durante el fin de semana.</p>
</div>
<div class="footer-container">
  <p>
    CLINICA ONLINE MONSERRAT & ASOCIADOS, es una Institución médica, que desde 1990 se dedica a la asistencia e investigación en el área del diagnóstico por imágenes y con especial interés en el campo de la patología bronco-pulmonar y cardiovascular. Brinda a la comunidad medicina diagnóstica y terapéutica de excelencia, con profesionales y personal técnico capacitado y la permanente actualización tecnológica.
  </p>
  <div class="div-redes">
    <p>Seguinos en nuestras redes</p>
    <div class="redes">
      <a href="https://www.facebook.com/" target="_blank"><img src="assets/icons/iconmonstr-facebook-3-240.png" width="24" height="24" alt=""></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="assets/icons/iconmonstr-instagram-13-240.png" width="24" height="24" class="ms-2" alt=""></a>
      <a href="https://www.linkedin.com/" target="_blank"><img src="assets/icons/iconmonstr-linkedin-3-240.png" width="24" height="24" class="ms-2" alt=""></a>
      <a href="https://x.com/" target="_blank"><img src="assets/icons/iconmonstr-twitter-3-240.png" width="24" height="24" class="ms-2" alt=""></a>
    </div>
  </div>
</div>
  