<div class="usuarios-container">
    <div class="usuario-list">
      <div *ngFor="let usuario of usuarios" class="usuario-item">
        <button mat-icon-button class="usuario-btn" (click)="onClickUsuario(usuario)">
          <img [src]="usuario.imagenUno" class="usuario-img" alt="Imagen del usuario">
          <span class="usuario-name">{{ usuario.nombre }} {{ usuario.apellido }}</span>
        </button>
      </div>
    </div>

    <div class="d-flex">
        <div class="usuario-detail shadow mx-4">
            <h3 class="title-h">Registrar usuario nuevo</h3>
            <div class="div-imgs">
                <button class=" btn-sel mx-3 mt-3" (click)="redirectToRegister('admin')">
                    <img src="assets/admin.png" class="img-btn-sel" alt="Admin">
                </button>
            </div>
            <div class="div-imgs">
                <button class=" btn-sel mx-3 mt-3" (click)="redirectToRegister('paciente')">
                    <img src="assets/paciente.jpg" class="img-btn-sel" alt="Paciente">
                </button>
                <button class=" btn-sel mx-3 mt-3" (click)="redirectToRegister('especialista')">
                    <img src="assets/doctor.jpg" class="img-btn-sel" alt="Especialista">
                </button>
            </div>
        </div>
    
        <div *ngIf="usuarioSeleccionado" class="usuario-detail shadow mx-4">
          <h3 class="title-h">Detalles del Usuario</h3>
          <p><strong>Nombre:</strong> {{ usuarioSeleccionado.nombre }}</p>
          <p><strong>Apellido:</strong> {{ usuarioSeleccionado.apellido }}</p>
          <p><strong>DNI:</strong> {{ usuarioSeleccionado.dni }}</p>
          <p><strong>Edad:</strong> {{ usuarioSeleccionado.edad }}</p>
          <p><strong>E-mail:</strong> {{ usuarioSeleccionado.email }}</p>
          <p><strong>Perfil:</strong> {{ usuarioSeleccionado.rol }}</p>
            
          <div *ngIf="usuarioSeleccionado.rol === 'especialista'" class="d-flex">
            <p><strong>Habilitado:</strong></p>
            @if (usuarioSeleccionado.habilitado) {
                <img src="assets/check.png" width="25" height="25" alt="Si">
            } @else {
                <div>
                    <img src="assets/uncheck.png" width="25" height="25" alt="No">
                    <a class="ms-2 a-habilitar" (click)="habilitarEspecialista(usuarioSeleccionado)">Habilitar</a>
                </div>
            }
          </div>
    
          
          <div *ngIf="turnosUsuarioSeleccionado.length > 0" class="mt-3">
            <h3 class="title-h">Turnos:</h3>
            <ul>
              <li *ngFor="let turno of turnosUsuarioSeleccionado">
                <p>{{ turno.especialidad }} - {{ turno.especialista }} - {{ turno.fecha | timestamp }}, {{ turno.hora }}hs</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>
  
