<nav class="custom-nav navbar navbar-expand-lg navbar-light shadow">
    <a class="navbar-brand d-flex align-items-center" routerLink="home">
      <img src="assets/icon_mon.png" class="d-inline-block align-top ml-2 mt-1 icono" alt="Icono">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav nav-opt">
        <li class="nav-item mx-3">
          <button class="nav-link" routerLink="home" routerLinkActive="ruta-activa">Inicio</button>
        </li>
        <li class="nav-item mx-3" *ngIf="isLogged == false">
          <button class="nav-link" routerLink="login" routerLinkActive="ruta-activa">Iniciar sesion</button>
        </li>
        <li class="nav-item mx-3" *ngIf="isLogged == false">
          <button class="nav-link" routerLink="register" routerLinkActive="ruta-activa">Registrarse</button>
        </li>
        <li class="nav-item mx-3" *ngIf="isLogged == false">
          <button class="nav-link" routerLink="ayuda" routerLinkActive="ruta-activa">Ayuda</button>
        </li>
        <li class="nav-item mx-3" *ngIf="rol === 'admin'">
          <button class="nav-link" routerLink="usuarios" routerLinkActive="ruta-activa">Usuarios</button>
        </li>
        <li class="nav-item mx-3" *ngIf="rol === 'admin'">
          <button class="nav-link" routerLink="turnos" routerLinkActive="ruta-activa">Turnos</button>
        </li>
        <li class="nav-item mx-3" *ngIf="rol === 'paciente' || rol === 'especialista'">
          <button class="nav-link" routerLink="mis-turnos" routerLinkActive="ruta-activa">Mis turnos</button>
        </li>
        <li class="nav-item mx-3" *ngIf="rol === 'admin' || rol === 'paciente'">
          <button class="nav-link" routerLink="solicitar-turno" routerLinkActive="ruta-activa">Solicitar turno</button>
        </li>
        <li class="nav-item mx-3" *ngIf="rol === 'especialista'">
          <button class="nav-link" routerLink="pacientes" routerLinkActive="ruta-activa">Pacientes</button>
        </li>

        <li class="nav-item dropdown mx-3 d-flex" *ngIf="isLogged">
          <button  class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <b>{{ userData ? userData.nombre + ' ' + userData.apellido : '' }}</b> </button>
          
          <div class="dropdown-menu dropdown-menu-end mb-3 rounded-bottom" aria-labelledby="navbarDropdown">
            <div class="col img-container text-center">
              <img src="{{ userData ? userData.imagenUno : ''}}" width="110" class="img-user" alt="Perfil">
            </div>
            <div class="dropdown-divider"></div>
            <b class="dropdown-item-text logout-text mt-1">Datos</b>
            <span class="dropdown-item-text logout-text">{{ userData ? userData.nombre + ' ' + userData.apellido : '' }}</span> 
            <span class="dropdown-item-text logout-text">{{ userData ? userData.email : ''}}</span> 
            <span class="dropdown-item-text logout-text mb-4">Perfil de {{ rol }}</span> 
            <div class="dropdown-divider div-custom"></div>
            <a class="dropdown-item a-custom" routerLink="perfil"><b class="logout-text">Mi perfil</b></a> 
            <div class="dropdown-divider div-custom"></div>
            <a class="dropdown-item a-custom" (click)="logout()"><b class="logout-text">Cerrar sesion</b></a> 
          </div>
        </li>
      </ul>
    </div>
</nav>

<router-outlet/>