<div class="container pb-5">
    <h2 class="text-center h1-custom">Informes & Estadísticas</h2>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Cantidad de turnos por especialidad</h2>
            <canvas id="turnosPorEspecialidad"></canvas>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Cantidad de turnos por día</h2>
            <canvas id="turnosPorDia"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card card-lapso">
          <div class="card-body">
            <h2 class="card-title">Turnos solicitados por médico en un lapso de tiempo</h2>

            <div class="row">
              <div class="col-6">
                <label>Desde:</label>
                <input type="date" [(ngModel)]="fechaInicioSolicitados" (ngModelChange)="onFechaChangeSolicitados()" class="form-control">
              </div>

              <div class="col-6">
                <label>Hasta:</label>
                <input type="date" [(ngModel)]="fechaFinSolicitados" (ngModelChange)="onFechaChangeSolicitados()" class="form-control">
              </div>
            </div>
          
            <canvas id="turnosPorMedicoSolicitados"></canvas>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card card-lapso">
          <div class="card-body">
            <h2 class="card-title">Turnos finalizados por médico en un lapso de tiempo</h2>

            <div class="row">
              <div class="col-6">
                <label>Desde:</label>
                <input type="date" [(ngModel)]="fechaInicioFinalizados" (ngModelChange)="onFechaChangeFinalizados()" class="form-control">
              </div>

              <div class="col-6">
                <label>Hasta:</label>
                <input type="date" [(ngModel)]="fechaFinFinalizados" (ngModelChange)="onFechaChangeFinalizados()" class="form-control">
              </div>
            </div>
          
            <canvas id="turnosPorMedicoFinalizados"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6">
        <button class="btn btn-custom w-100" (click)="verRegistros()">Ver registros</button>
      </div>
      <div class="col-6">
        <button class="btn btn-custom w-100" (click)="downloadPDF()" [disabled]="!verificarFechasColocadas()">Descargar PDF</button>
      </div>
    </div>

    <div *ngIf="verRegistro" class="dialog-overlay">
      <div class="dialog-box">
        <h2 class="text-center h1-custom">Registros</h2>
        <div class="dialog-content">
          <table class="table">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Dia</th>
                <th>Horario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let registro of registros">
                <td>{{ registro.user }}</td>
                <td>{{ formatearFechaSoloDia(registro.date) }}</td>
                <td>{{ formatearHorario(registro.date) }} hs</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-center">
          <button class="btn btn-log mx-3 col-5 mt-3" (click)="verRegistro = false">Cerrar</button>
          <button class="btn btn-log mx-3 col-5 mt-3" (click)="downloadCSV()">Descargar CSV</button>
        </div>
      </div>
    </div>
  
  </div>
  