
<div class="table-usuarios mx-5">
    <div class="w-100">
        <mat-form-field class="search-field">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8 shadow-none">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="fecha" matSortDirection="desc">
            <ng-container matColumnDef="paciente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-p" id="izq"> <b class="izq">Paciente</b>  </th>
                <td mat-cell *matCellDef="let row" class="fila-turno" [appEstadoTurno]="row.estado"> {{row.paciente}} </td>
            </ng-container>
    
            <ng-container matColumnDef="especialista">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-p"> <b>Especialista</b> </th>
                <td mat-cell *matCellDef="let row" class="fila-turno" [appEstadoTurno]="row.estado"> {{row.especialista}} </td>
            </ng-container>
    
            <ng-container matColumnDef="especialidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-p"> <b>Especialidad</b> </th>
                <td mat-cell *matCellDef="let row" class="fila-turno" [appEstadoTurno]="row.estado"> {{row.especialidad}} </td>
            </ng-container>
    
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-p"> <b>Fecha</b> </th>
                <td mat-cell *matCellDef="let row" class="fila-turno" [appEstadoTurno]="row.estado"> {{row.fecha | timestamp}} </td>
            </ng-container>
    
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-p"> <b>Horario</b> </th>
                <td mat-cell *matCellDef="let row" class="fila-turno" [appEstadoTurno]="row.estado"> {{row.hora}}hs </td>
            </ng-container>
            
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-p"> <b>Estado</b> </th>
                <td mat-cell *matCellDef="let row" class="fila-turno" [appEstadoTurno]="row.estado"> {{row.estado}} </td>
            </ng-container>
            
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="th-p der" id="der"> <b>Acciones</b> </th>
                <td mat-cell *matCellDef="let row" class="fila-turno" [appEstadoTurno]="row.estado">
                    <button mat-button *ngIf="row.estado === 'pendiente'" class="btn-accion shadow-sm me-2" (click)="cancelarTurno(row)">
                        Cancelar
                    </button>
                    
                    <button mat-button *ngIf="row.comentario" class="btn-accion shadow-sm me-2" (click)="verComentario(row)">
                        {{row.estado === 'finalizado' ? 'Ver reseña' : 'Ver comentario'}}
                    </button>
                </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            
            <tr class="mat-row" *matNoDataRow class="fail-search">
            <td class="mat-cell ps-4 pt-4" colspan="4">No se encontraron resultados.</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="div-paginator" aria-label="Selecciona"></mat-paginator>
    </div>
</div>


